<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
    <link rel = "stylesheet" href = "{{url_for('static', filename='style.css')}}">
    <title>Popcorn</title>
</head>
<body>

    <div>
        <div class="navbar">
            <div class="navbar-logo">
                <a href="{{url_for('home')}}">
                <img style = "padding: 0;" src="{{ url_for('static', filename='images/logo.webp')}}" alt= "Popcorn themed logo">
                <span>POPCORN</span> </a>
            </div>
        
            <div class="navbar-links">
                <a href="{{url_for('login')}}">LOGIN/SIGNUP</a>
                <a href="{{url_for('movies')}}">MOVIES</a>
            </div>
        </div>
    </div>

    {% block body %}
    {% endblock %}.
    
</body>
</html>