{% extends "layout.html" %}

{% block body %}
<div class="movie-container">
    <div class="movie-poster">
        <img src="{{movie['imgURL']}}" alt=" A image of the movie {{movie['name']}}">
    </div>
    <div style="display: inline-block;">
        <div>
            <h1>{{movie['name']}}</h1>
            <h4>{{movie['description']}}</h4>
        </div>
        {% if g.user %}
            <div style="margin-top: 5vh; color: #000000; font-size: 12px; text-align: center;">
                <div class="mContent">
                    <form method="post" action="{{url_for('review')}}">
                        <input type="hidden" name="movie_id" value="{{movie['item_id']}}">
                        <textarea name="review" placeholder="Tell us what you think..."></textarea><br>
                        <button type="submit" class="submit-btn">SUBMIT</button>
                    </form>
                </div>
        {% else %}
            <div style="margin-top: 15vh;font-size: 12px; text-align: center;">
                <a href="{{ url_for('login') }}">
                    <button class="redirect-btn">PLEASE LOGIN TO REVIEW</button>
                </a>
            </div>
        {% endif %}
    </div>
</div>


{% endblock %}